<% layout("/layouts/boilerplate") %>
<script>
  const mapToken="<%=process.env.MAP_TOKEN%>";
  const listing= <%-JSON.stringify(reqListings)%>;
</script>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3><%= reqListings.title %></h3><br><br>
    <div class="listing-card col-6">
            <img src="<%= reqListings.image.url %>" class="card-img-top" alt="image">
            <div class="card-body">
              <p class="card-user"><i>owned by:<%=reqListings.owner.username%></i></p>
            </div>
            <div class="card-body">
                <p class="card-description"><%= reqListings.description %></p>
              </div>
              <div class="card-body">
                <p class="card-price">&#8377; <%= reqListings.price.toLocaleString("en-IN") %></p>
              </div>
              <div class="card-body">
                <p class="card-location"><%= reqListings.location %></p>
              </div>
              <div class="card-body">
                <p class="card-country"><%= reqListings.country %></p>
              </div>
          </div>
          <% if(curUser && curUser._id.equals(reqListings.owner._id)){ %> 
    <a href="/listings/<%=reqListings.id%>/edit" class="edit btn edit-btn">Edit this listings</a><br><br>
    <form method="post" action="/listings/<%= reqListings.id %>?_method=DELETE"><button class="btn btn-dark">delete</button></form>
   <%}%>
    </div>
    <div class="col-8 offset-3">
      <br>
      <% if(curUser) { %>
        <hr>
      <h4>Leave a review</h4>
      <form action="/listings/<%=reqListings.id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
      <div class="mb-3 mt-3">
        <label for="rating"class="form-label" >Rating</label>
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">comment</label>
        <textarea id="comment" name="review[comment]" cols="30" rows="5" class="form-control" required></textarea>
        <div class="invalid-feedback">please add some comments for review</div>
      </div>
      <button class="btn btn-outline-dark" class="mb-3 mt-3">submit</button>
    </form>
    <% } %>
    </div>
    <div>
      <br>
      <% if(reqListings.reviews.length>0){ %>
        <hr>
      <div class="row">
        <p><b>All Reviews</b></p>
      <% for(review of reqListings.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= review.author.username%></h5>
            <p class="starability-result card-text" data-rating="<%= review.rating%>"></p>
            <p class="card-text"><%= review.comment%></p>  
          </div>
          <% if(curUser && curUser._id.equals(review.author._id)){ %>
          <form class="mb-3" method="POST" action="/listings/<%=reqListings._id%>/reviews/<%=review._id%>?_method=DELETE">
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
        <% } %>
      </div>
    <%}%>
    </div>
    <div class="col-8 offset-3">
      <h3>where you'll be</h3>
      <div id="map"></div>
      
      </div>
    </div>
    <script src="/js/map.js"></script>
</body>

